@import '../../scss/variables';

.rank {
    &__heading {
        font-size: $font-size-hg;
        margin-bottom: 20px;
    }

    .card-song {
        margin: 0;
    }

    &-item {
        display: flex;
        align-items: center;
        border-radius: 8px;
        // transition: background .4s;
        margin: 8px 0;

        &:hover {
            background: rgb(122, 116, 116);

        }
    }

    &-number {
        font-size: $font-size-hg;
        font-weight: bold;
        // color: red;
        width: 60px;
        text-align: center;
    }

    &-number {
        &--1 {
            color: #f02f19;
            font-size: 3.5rem;

        }

        &--2 {
            color: #d35400;
            font-size: 3.5rem;
        }

        &--3 {
            color: #8e44ad;
            font-size: 3.5rem;
        }
    }



    &-card {
        .card-song {}
    }
}