.checkbox {
  display: inline-block;
  margin: 5px 8px;
  font-size: 2rem;
}
.checkbox-box {
  margin-bottom: 20px;
  border: 1px solid rgb(187, 187, 187);
  border-radius: 8px;
  padding: 10px 0;

  &__heading {
    font-size: var(--font-size-hg);
  }

  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
