.albums {
    &__heading {
        text-align: center;
        font-size: 3.5rem;
        margin-bottom: 20px;
    }

    .card-album {
        margin-bottom: 10px;

        .card-image {
            &__img {
                width: 100%;
                height: auto;
                min-height: 180px;
            }
        }
    }
}