@import '../../scss/variables';

.player-queue {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    width: 320px;
    background: rgb(68, 68, 76);
    // background: linear-gradient(90deg, rgb(22, 181, 230), rgb(53, 172, 252), #0780c2);
    z-index: 20;
    box-shadow: inset 0 0 8px rgba(73, 72, 72, 0.2);
    color: var(--text-color-reverse);
    overflow-y: scroll;
    overflow-x: hidden;
    height: 92vh;

    &-header {
        position: relative;

        &__heading {
            text-align: center;
            font-size: $font-size-hg;
            padding: 8px 0 10px 0;
            border-bottom: 1px solid var(--text-color-reverse);
        }

        p.icon {
            position: absolute;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            width: 40px;
            cursor: pointer;
            font-size: $font-size-hg;
            text-align: center;
            transition: transform .5s;

            &:hover {
                opacity: 0.8;
                transform: translateY(-50%) scale(1.05);
            }
        }
    }

    &-list {
        margin: 0 10px;
    }

    &-item {
        cursor: pointer;
        padding: 1px 10px;
        border-radius: 8px;
        position: relative;

        &--active {
            background: #212333f8;

            &:hover {
                background: #212333f8 !important;
            }
        }

        &:hover {
            background: #ffffff1a;
        }

        .btn {
            &--favorite {
                position: absolute;
                right: 0;
                top: 50%;
                transform: translateY(-50%);
                z-index: 10;
            }
        }
    }

    &__heading {}

}